<footer>
    <section class="cont-footer-principal">
        <!--img-->
        <div class="img-footer"><img src="/images/DCL.png" alt=""></div>
        <!--sections-->
        <div class="footer-pages">
            <h5>Pages</h5>
            <a href=""><p class="footer-sections">Home</p></a>
            <a href="/nosotros/M-nos"><p class="footer-sections">Nosotros</p></a>
            <a href=""><p class="footer-sections">Productos</p></a>
            <a href="/Contacto/H-contacto"><p class="footer-sections">Contactanos</p></a>
        </div>
        <!--Contacto-->
        <div class="footer-contacto">
            <h5>Contacto</h5>
            <div class="grid-icons-footer">
                <div><img src="/images/logo1.svg" alt=""> <p>+54 11 7917-2640</p></div>
                <div><img src="/images/logo2.svg" alt=""> <p>infodlcgroup.com.ar</p></div>
                <div><img src="/images/logo3.svg" alt=""> <p>Estanislao Zeballos 2740 <br>
                                                        Piso 1 (B1643AGZ) Béccar (San Isidro) <br>
                                                        Buenos Aires</p></div>

            </div>
        </div>
    </section>

    <div class="registrada">
        <div> <p>Copyright© 2024 DCL+. All rights reserved</p> </div>
        <div> <p>License</p> </div>
    </div>
</footer>