<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>

    <main class="containContacto">
        <section class="tituloContacto">
            <h1>Contacto</h1>
            <p>Déjanos tu consulta y nuestro equipo se pondrá en contacto contigo a la brevedad</p>
        </section>
        <hr>
    </main>

    <section class="contact-section">
        <div class="contact-info">
          <h2>Contacto</h2>
          <div class="info-item">
            <i class="fas fa-phone"></i>
            <span>+54 11 7917-2640</span>
          </div>
          <div class="info-item">
            <i class="fas fa-envelope"></i>
            <span>infodlcgroup.com.ar</span>
          </div>
          <div class="info-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Estanislao Zeballos 2740, Piso 1 (B1643AGZ) Béccar (San Isidro), Buenos Aires</span>
          </div>
        </div>
      </section>
    <%- include('partials/footer') %> 
</body>
</html>