<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=handshake" />
</head>
<body>
    <%- include('partials/header') %> <!-- No es necesario pasar 'title' explícitamente aquí -->
    
    <!-- Carrusel -->
    <section class="carrusel-contenedor">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2" class="carousel-image">
                <!-- Duplicar las imágenes para el bucle infinito -->
                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1 (duplicada)" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2 (duplicada)" class="carousel-image">
                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1 (triplicada)" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2 (triplicada)" class="carousel-image">
            </div>
        </div>
    </section>

    <!-- Propuesta de valor -->
    <section class="propuesta-de-valor_contenedor animated">
        <div class="contenedor-titulo-propuesta">
            <h2>Propuesta de valor</h2>
        </div>
        <div class="grid-propuestaIcons animated">
            <div class="item1_item"><img src="/images/logo-medalla.svg" alt=""></div>
            <div class="item2_item"><img src="/images/logo-escudo.svg" alt=""></div>
            <div class="item3_item"><img src="/images/logo-mecanica.svg" alt=""></div>
            <div class="item4_item"><img src="/images/logo-hand.svg" alt=""></div>

            <div class="item5_item">Experiencia con <br> grandes marcas</div>
            <div class="item6_item">Calidad <br> garantizada</div>
            <div class="item7_item">Producción <br> personalizada</div>
            <div class="item8_item">Cumplimiento y <br> confianza</div>
        </div>
    </section>

    <!-- Marcas -->
    <section class="marcas-home_contenedor animated">
        <div class="titulo-subtitulo">
            <h2>Marcas que confían <br> en nosotros</h2>
            <p>Ellos creen en nuestra calidad</p>
        </div>
        <div class="marcas-logos">
            <div class="contenedor-img1">
                <div class="imagen">
                    <img src="images/Logo Puma transparente.fw (1).png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>
    
            <div class="contenedor-img2">
                <div class="imagen">
                    <img src="images/head-logo-png-transparent (1).png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>
    
            <div class="contenedor-img3">
                <div class="imagen">
                    <img src="images/Logo Reef - Transparente.fw.png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>
        </div>
    </section>
    
    <!-- Comentarios -->
    <div class="comentarios-container animated">
        <div class="comentario izquierda">
            <textarea readonly id="left-text">Fantoche: "La colaboración con DCL+ ha sido excepcional. Su enfoque en la calidad y el detalle en cada etapa del proceso de producción ha sido clave para el éxito de nuestras colecciones. La flexibilidad y el compromiso de su equipo nos han permitido alcanzar resultados consistentes y satisfactorios."</textarea>
        </div>
        <div class="linea-separacion"></div>
        <div class="comentarios-derecha">
            <div class="comentario derecha" id="right-text-1">
                <textarea readonly>Head: "Estamos muy satisfechos con la calidad y el cumplimiento de plazos en cada uno de nuestros pedidos con DCL+. Su capacidad de adaptarse a nuestras exigencias de producción es excepcional y su equipo siempre está dispuesto a superar nuestras expectativas. Definitivamente un socio confiable en la industria textil."</textarea>
            </div>
            <div class="comentario derecha" id="right-text-2">
                <textarea readonly>Puma: "La colaboración con DCL+ ha sido clave para lograr la calidad y los tiempos de entrega que necesitamos en Puma. Su atención al detalle y su flexibilidad para cumplir con nuestras demandas específicas nos dan la confianza de seguir trabajando con ellos a largo plazo."</textarea>
            </div>
            <div class="comentario derecha" id="right-text-3">
                <textarea readonly>Reef: "En Reef, valoramos la excelencia y la consistencia, y eso es exactamente lo que hemos recibido de DCL+. Siempre cumplen con los estándares más altos de calidad, y su equipo ha demostrado ser altamente profesional y confiable en cada proyecto que hemos manejado juntos."</textarea>
            </div>
            <div class="comentario derecha" id="right-text-4">
                <textarea readonly>Ruge: "Gracias a DCL+, hemos podido mantener la calidad y la innovación en nuestras colecciones. La fábrica ha sido fundamental para nuestra producción, asegurando que cada pieza cumpla con nuestras estrictas expectativas. Su capacidad de respuesta y su compromiso son invaluables para nuestra marca."</textarea>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/carrousel.js"></script>
    <script src="/js/interacciones.js"></script>
</body>
</html>
