<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=handshake" />
</head>
<body>
    <%- include('partials/header') %> <!-- No es necesario pasar 'title' explícitamente aquí -->
    
    <!-- Video como banner -->
<video autoplay loop muted playsinline class="banner-video">
    <source src="/images/video-baner-dcl.mp4" type="video/mp4">
    Tu navegador no soporta videos.
</video>
      

    <!-- Propuesta de valor -->
    <section class="propuesta-de-valor_contenedor animated">
        <div class="contenedor-titulo-propuesta">
            <h2>Propuesta de valor</h2>
        </div>
        <div class="grid-propuestaIcons animated">
            <div class="item1_item"><img src="/images/logo-medalla.svg" style="color: #007cd5"></div>
            <div class="item2_item"><img src="/images/logo-escudo.svg" alt=""></div>
            <div class="item3_item"><img src="/images/logo-mecanica.svg" alt=""></div>
            <div class="item4_item"><img src="/images/logo-hand.svg" alt=""></div>

            <div class="item5_item">Experiencia con <br> grandes marcas</div>
            <div class="item6_item">Calidad <br> garantizada</div>
            <div class="item7_item">Producción <br> personalizada</div>
            <div class="item8_item">Cumplimiento y <br> confianza</div>
        </div>
    </section>

    <!-- Marcas -->
    <section class="marcas-home_contenedor animated">
        <div class="titulo-subtitulo">
            <h2>Marcas que confían <br> en nosotros</h2>
            <p>Ellos creen en nuestra calidad</p>
        </div>
        <div class="marcas-logos">
            <div class="marca" data-marca="puma">
                <div class="imagen">
                    <img src="images/Logo Puma transparente.fw (1).png" alt="">
                </div>
               
                <p class="parrafo-logos">
                    <a href="#" onclick="expandirMarca(event, 'puma')">Ver más</a>
                </p>
            </div>
    
            <div class="marca" data-marca="head">
                <div class="imagen">
                    <img src="images/head-logo-png-transparent (1).png" alt="">
                </div>
                
                <p class="parrafo-logos">
                    <a href="#" onclick="expandirMarca(event, 'head')">Ver más</a>
                </p>
            </div>
    
            <div class="marca" data-marca="reef">
                <div class="imagen">
                    <img src="images/Logo Reef - Transparente.fw.png" alt="">
                </div>
                
                <p class="parrafo-logos">
                    <a href="#" onclick="expandirMarca(event, 'reef')">Ver más</a>
                </p>
            </div>
        </div>
    </section>
    
    
    <!-- Comentarios -->
    <section class="contenedorComentarios animated">
        <h3>Testimonios de Clientes o Marcas</h3>
        <div class="contenedor1">
            <div><img src="/images/comentario.svg" alt=""></div>
            <div class="comentario"><h5>“Gracias a su profesionalismo y calidad, logramos cumplir con los estándares de nuestras colecciones.”</h5></div>
            <p class="nombreComent"><b> marca</b></p>
        </div>
            
        <div class="contenedor2">
            <div><img src="/images/comentario.svg" alt=""></div>
            <div class="comentario"><h5>"Gracias a su excelencia en producción y cumplimiento, logramos superar los estándares de calidad y entregar colecciones impecables."</h5></div>
            <p class="nombreComent"><b> marca</b></p>
        </div>
    </section>


    <%- include('partials/footer') %> 
    <script src="/js/comentarios.js"></script>
    <script src="/js/carrousel.js"></script>
    <script src="/js/interacciones.js"></script>
    <script src="/js/marcas.js"></script>
</body>
</html>