<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=handshake" />
</head>
<body>
    <%- include('partials/header') %> <!-- No es necesario pasar 'title' explícitamente aquí -->
    <section class="carrusel-contenedor">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2" class="carousel-image">
                <!-- Duplicar las imágenes para el bucle infinito -->
                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1 (duplicada)" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2 (duplicada)" class="carousel-image">

                <img src="/images/img_fabricaTextil1.jpg" alt="Imagen 1 (triplicada)" class="carousel-image">
                <img src="/images/img_fabricaTextil2.jpg" alt="Imagen 2 (triplicada)" class="carousel-image">
            </div>
          </div>
    </section>

    <section class="propuesta-de-valor_contenedor">
        <div class="contenedor-titulo-propuesta">
            <h2>Propuesta de valor</h2>
        </div>
        <div class="grid-propuestaIcons">
            <div class="item1_item"><img src="/images/logo-medalla.svg" alt=""></div>
            <div class="item2_item"><img src="/images/logo-escudo.svg" alt=""></div>
            <div class="item3_item"><img src="/images/logo-mecanica.svg" alt=""></div>
            <div class="item4_item"><img src="/images/logo-hand.svg" alt=""></div>

            <div class="item5_item">Experiencia con <br> grandes marcas</div>
            <div class="item6_item">Calidad <br> garantizada</div>
            <div class="item7_item">Producción <br> personaliada</div>
            <div class="item8_item">Cumplimiento y <br> confianza</div>
        </div>
    </section>

    <section class="marcas-home_contenedor">
        <div class="titulo-subtitulo">
            <h2>Marcas que confían <br> en nosotros</h2>
            <p>Ellos creen en nuestra calidad</p>
        </div>
        <div class="marcas-logos">
            <div class="contenedor-img1">
                <div class="imagen">
                    <img src="images/Logo Puma transparente.fw (1).png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>

            <div class="contenedor-img2">
                <div class="imagen">
                    <img src="images/head-logo-png-transparent (1).png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>

            <div class="contenedor-img3">
                <div class="imagen">
                    <img src="images/Logo Reef - Transparente.fw.png" alt="">
                </div>
                <p class="parrafo-logos"><a href="#">Ver más</a></p>
            </div>
        </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/carrousel.js"></script>
</body>
</html>