<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productos_previa.css">
    <link rel="icon" type="image/png" href="/images/logo DCL+ Negro.png">
</head>
<body>
    <%- include('partials/header') %>
    <Section class="contenedor">
        <h1>Nuestros productos</h1>
        <main class="contenedor_main">
            <a href="/productos/Hombres" class="contenedor_main_caja">
                <img src="/images/productos_hombres.jpg" alt="Hombres">
            </a>
            <a href="/productos/Mujeres" class="contenedor_main_caja">
                <img src="/images/productos_mujeres.png" alt="Mujeres">
            </a>
            <a href="/productos/Ninios" class="contenedor_main_caja">
                <img src="/images/productos_niños.png" alt="Niños">
            </a>
            <a href="/productos/Unisex" class="contenedor_main_caja">
                <img src="/images/productos_unisex.png" alt="Unisex">
            </a>
        </main>        
    </Section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/animacionHeader.js"></script>
    <%- include('partials/footer') %>
</body>
</html>