<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="stylesheet" href="/css/mantenimiento.css">
    <link rel="icon" type="image/png" href="/images/logo DCL+ Negro.png">
</head>
<body>   
  <%- include('partials/header') %>
 <section class="servicios animated">
  <h1>Servicios Especializados</h1>

  <div class="grid">
    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"></div>
        <div class="texto">
          <h2>Producci贸n y Confecci贸n</h2>
          <p>Fabricaci贸n de prendas y productos textiles a gran escala.</p>
        </div>
      </div>
    </div>

    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"></div>
        <div class="texto">
          <h2>Estampado y Sublimaci贸n</h2>
          <p>Personalizaci贸n de telas con estampados digitales o serigr谩ficos.</p>
        </div>
      </div>
    </div>

    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"><img src="/images/Capa_1 (1).png" alt=""></div>
        <div class="texto">
          <h2>Te帽ido y Acabado</h2>
          <p>Proceso de te帽ido, lavado y terminaciones especiales.</p>
        </div>
      </div>
    </div>

    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"><img src="/public/images/Capa_1 (2).png" alt=""></div>
        <div class="texto">
          <h2>Control de Calidad</h2>
          <p>Inspecci贸n rigurosa para garantizar est谩ndares.</p>
        </div>
      </div>
    </div>

    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"></div>
        <div class="texto">
          <h2>Asesoramiento en Materiales</h2>
          <p>Selecci贸n de telas seg煤n el uso o necesidades del cliente.</p>
        </div>
      </div>
    </div>

    <div class="card servicio animated">
      <div class="contenido-card">
        <div class="icono"></div>
        <div class="texto">
          <h2>Producci贸n Sustentable</h2>
          <p>Uso de materiales ecol贸gicos con procesos responsables con el medioambiente.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Secci贸n de productos -->
  <div class="grid productos">
    <div class="card producto animated">
      <h3>De punto:</h3>
      <ul>
        <li>Remeras</li>
        <li>Remeras T茅cnicas</li>
        <li>Chombas</li>
        <li>Camisas</li>
        <li>Canguros</li>
        <li>Pantalones Joggers</li>
      </ul>
    </div>

    <div class="card producto animated">
      <h3>De punto:</h3>
      <ul>
        <li>Short de ba帽o</li>
        <li>Campera rompeviento</li>
        <li>Conjunto deportivo</li>
      </ul>
    </div>

    <div class="card producto animated">
      <h3>Especiales:</h3>
      <ul>
        <li>Indumentaria para empresas</li>
      </ul>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
    <script src="/js/interacciones.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
     
</body>
</html>