<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/servicios.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="imagenServicios">
        <img src="/images/servisios-imagenes.jpeg" alt="">
    </div>

    <section class="textoServicios">
        <h1>Servicios Especializados en Textil</h1>
        <ul>
            <li><strong>Producción y Confección</strong> → Fabricación de prendas y productos <br>textiles a gran escala.</li>
            <li><strong>Estampado y Sublimación</strong> → Personalización de telas con estampados <br>digitales o serigráficos.</li>
            <li><strong>Teñido y Acabado</strong> → Procesos de teñido, lavado y terminaciones<br> especiales.</li>
            <li><strong>Corte y Patronaje</strong> → Elaboración de patrones y cortes precisos para<br> optimizar la producción.</li>
            <li><strong>Asesoramiento en Materiales</strong> → Selección de telas según el uso y <br>necesidades del cliente.</li>
            <li><strong>Control de Calidad</strong> → Inspección rigurosa para garantizar estándares <br> de excelencia.</li>
            <li><strong>Producción Sustentable</strong> → Uso de materiales ecológicos y procesos responsables <br> con el medioambiente.</li>
        </ul>
        
    </section>
    <section class="desplegablesSection">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    De punto:
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <ul>
                        <li>Remeras</li>
                        <li>Remeras Térmicas</li>
                        <li>Chombas</li>
                        <li>Canguros</li>
                        <li>Pantalones Jogger</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Plano:
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <ul>
                        <li>Short de baño</li>
                        <li>Campera rompeviento</li>
                        <li>Conjunto deportivos</li>
                    </ul>
                    
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Especiales:
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <ul>
                    <li>Indumentaria para empresas</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%- include('partials/footer') %> 
</body>
</html>