*{
    margin: 0%;
    padding: 0%;
}
.contacto {
  background: linear-gradient(to bottom, #007cd5, #ffffff);
  color: white;
  padding-top: 8em;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.info-container {
  text-align: center;
  padding: 50px 20px;
}

.contacto h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contacto p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.info div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.info i {
  font-size: 1.5rem;
  margin-right: 10px;
  /* Aseguramos que los íconos se muestren en blanco, contrastando con el fondo */
  color: white;
}

.redes {
  margin-top: 20px;
  margin-bottom: 5em;
}

.redes a {
  color: white;
  font-size: 2rem;
  margin: 0 10px;
  transition: transform 0.3s, color 0.3s;
}

.redes a:hover {
  transform: scale(1.2);
  color: #d1eaff; /* Variante más clara en hover */
}

.mapa iframe {
  width: 100%;
  height: 350px;
  border: none;
  display: block;
}
