/* Añadir estas reglas a tu CSS */

.animated {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animated.active {
    opacity: 1;
    transform: translateY(0);
}

.animated.inactive {
    opacity: 0;
    transform: translateY(50px);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.nav-item {
    margin-left: 10px;
}

.container {
    max-width: 1300px;
}

.btn-contactanos {
    background-color: rgb(73, 82, 207);
    color: white;
    border: 2px solid rgb(73, 82, 207);
    padding: 6px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
}

.btn-contactanos:hover {
    background-color: transparent;
    color: rgb(73, 82, 207);
    border-color: rgb(73, 82, 207);
}

@media (max-width: 768px) {
    .btn-contactanos {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    color: rgb(73, 82, 207);;
}

.carrusel-contenedor {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-images {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 1s ease-in-out;

}


.carousel-image {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    object-position: center center;
    flex-shrink: 0;
}

.propuesta-de-valor_contenedor {
    width: 100%;
    height: auto;
    margin: 5em 0; 
    padding: 0 15%;
}

.contenedor-titulo-propuesta {
    width: 100%;
}

.contenedor-titulo-propuesta h2 {
    font-size: 40px;
}

.grid-propuestaIcons {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 100px 100px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.item1_item, .item2_item, .item3_item, .item4_item, .item5_item, .item6_item, .item7_item, .item8_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5_item, .item6_item, .item7_item, .item8_item {
    font-size: 18px;
    text-align: center;
}

.item1_item img, .item2_item img, .item3_item img, .item4_item img {
    width: 100px;
    height: auto;
}

.grid-propuestaIcons.active {
    opacity: 1;
    transform: translateY(0);
}

/* Marcas */
.titulo-subtitulo h2{
    font-size: 50px;
}
.titulo-subtitulo p{
    font-size: 20px;
}
.marcas-home_contenedor {
    padding: 4em 10%;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding: 6em 0;
    background: radial-gradient(circle, orange 0%, transparent 45%, transparent 100%);
}

.marcas-home_contenedor.active {
    opacity: 1;
    transform: translateY(0);
}

.marcas-logos {
    padding: 5em;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.contenedor-img1, .contenedor-img2, .contenedor-img3 {
    width: 300px;
    height: 450px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 00px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.parrafo-logos {
    margin-top: 10px;
    font-size: 14px;

}
.parrafo-logos a{ 
    color: #000000;
}
.imagen img{
    width: 250px;
    height: auto;
    margin-top: 6em;
}





/* Comentarios */
.comentarios-container {
    margin: 3em 0 5em 0;
    padding:0 3em;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-around;
    gap: 10px;
    grid-template-columns: 2fr auto 3fr;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.comentarios-container.active {
    opacity: 1;
    transform: translateY(0);
}

.comentario div div {
    border: 1px solid orange;
    outline: none;
    height: 100px;
    width: 35%;
    background: transparent;
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    padding: 10px;
    min-height: 100px;
}
.comentario-izq {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.comentario-izq p {
    font-size: 24px; /* Tamaño de la letra más grande */
    font-weight: bold; /* Opcional, para hacerlo más notorio */
    color: #333; /* Color más oscuro */
    transition: font-size 0.3s ease, color 0.3s ease; /* Transición suave */
}

.linea-separacion {
    border-left: 2px solid orange;
    height: 100%;
    margin: 0 2%;
}

#right-text-1, #right-text-2, #right-text-3, #right-text-4 {
    margin-bottom: 1em;
}

